# this file contains the api key and secret for my account
keys.py

# cache files
*.pyc

# do not upload models
*.dump
*.h5
*.pkl

# ignore np files
*.npy

# live trading
trade.py

# csv price data
*.csv

# saved models
model
